<main class="col-md-8 main-content">


    <article class="post page">

        <header class="post-head">
            <h1 class="post-title">关于 editice的小站</h1>
        </header>

        <section class="post-content">
            <blockquote>
                <p>editice的小站是基于笔者的一点兴趣创建的一个个人网站，用心的去维护好这个小站，并且督促自己每周发表相应的博文来和大家一起共同进步。</p>
            </blockquote>

            <p><img src="http://static.ghostchina.com/image/b/5e/877fa798be75dbe791dba07ac4811.jpg"
                    alt="John O’Nolan 和 Hannah Wolfe"/></p>

            <p>2015 年 11 月份，editice的小站开发完成并正式上线。 <br/>
                小站的初衷是用心去做好每一个小产品，并与广大的网友分享，交流一些心得与体会。</p>

            <hr/>

            <p>如果你喜欢这个小站，可以通过以下方式联系我：</p>

            <ul>
                <li>微博：<a href="http://weibo.com/2329503454/profile?topnav=1&wvr=6">editice的微博</a></li>
                <li>QQ：813853647</li>
            </ul>

        </section>

    </article>

</main>