<main class="col-md-8 main-content">

    #set($blogs = ${res.get("blogs")})
    #set($pageBean=${res.get("pageBean")})
    #set($pre = ${pageBean.pageNum} - 1)
    #set($after = ${pageBean.pageNum} + 1)

    #foreach($blog in $blogs)
        #set($keywords=${blog.keywords})
        <article id="${blog.id}" class="post tag-about-ghost tag-release tag-ghost-0-7-ban-ben">

            <div class="post-head">
                <h1 class="post-title"><a href="/snipper/blogs/blogDetail.htm?blogId=${blog.id}">${blog.title}</a></h1>

                <div class="post-meta">
                    <span class="author">作者：<a href="/author/wangsai/">$!{blog.author}</a></span> &bull;
                    <time class="post-date">$!{dateTool.format("yyyy-MM-dd", $!{blog.create_time})}</time>
                </div>
            </div>
            <div class="post-content">
                <p>$!{blog.note}</p>
            </div>
            <div class="post-permalink">
                <a href="/snipper/blogs/blogDetail.htm?blogId=${blog.id}" class="btn btn-default">阅读全文</a>
            </div>

            <footer class="post-footer clearfix">
                <div class="pull-left tag-list">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    #foreach($em in ${keywords.split(",")})
                        <a href="/snipper/blogs/blogTag?blogTag=$em">$em</a>,
                    #end
                </div>
                <div class="pull-right share">
                </div>
            </footer>
        </article>
    #end


    <!--  分页 -->

    <nav class="pagination" role="navigation">
        #if(${pageBean.pageNum}>1)
            <a class="older-posts" href="/snipper/blogs/blogPage.htm?idx=${pre}"><span
                    class="page-number">&laquo;</span></a>
        #end

        <span class="page-number">第 $!{pageBean.pageNum} 页 &frasl; 共 $!{pageBean.totalPage} 页</span>

        #if(${pageBean.pageNum}<${pageBean.totalPage})
            <a class="older-posts" href="/snipper/blogs/blogPage.htm?idx=${after}"><span
                    class="page-number">&raquo;</span></a>
        #end

    </nav>


</main>