<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <div class="panel panel-primary">

        <div class="panel-heading">
            版本模拟器
        </div>
        <div class="panel-body">
            <div class="well well-lg">
                <h5>1. ttid为空代表PC</h5>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    指定参数
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" method="post" action="/tmallincubator/version/showMock">

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">终端ttid</label>
                            <input type="text" id="ttid" name="ttid" class="form-control"
                                   value="$!{result.get("ttid")}"
                                   style="width: 200px"/>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">组件名称</label>
                            <input type="text" id="coKey" name="coKey" class="form-control"
                                   value="$!{result.get("coKey")}"
                                   style="width: 200px"/>
                        </div>

                        <div class="form-group">
                            <button type="submit" name="file" class="btn btn-sm btn-primary col-sm-offset-2">模拟</button>
                        </div>


                    </form>
                </div>
            </div>

            #if(${result})
                <div class="panel panel-default">
                    <div class="panel-heading">
                        模拟结果
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                开关值
                            </div>
                            <div class="panel-body" style="word-wrap: break-word;">
                                $!{result.get("config")}
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                是否支持当前组件
                            </div>
                            <div class="panel-body">
                                $!{result.get("res")}
                            </div>
                        </div>


                    </div>
                </div>
            #end


        </div>
    </div>


</div>