<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <div class="panel panel-primary">
        <div class="panel-heading">
            #if($result.get("coKey"))
                $!{result.get("coKey")}组件
            #else
                新增组件
            #end

        </div>
        <div class="panel-body">
            #if($result.get("coKey"))
                <form class="form-vertical" method="post" action="/tmallincubator/version/delete">
                    <input type="hidden" name="coKey" value="$result.get("coKey")"/>

                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-sm btn-danger">删除该配置</button>
                    </div>

                </form>
            #end

            <form class="form-horizontal" method="post" action="/tmallincubator/version/doUpdate">
                #if($result.get("coKey"))
                    <input type="hidden" name="coKey" value="$result.get("coKey")"/>
                #else
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">组件名称</label>
                                <input type="text" id="coKey" name="coKey"
                                       class="form-control" value="$result.get("coKey")"
                                       style="width: 200px"/>
                            </div>
                        </div>
                    </div>
                #end

                <div class="well well-lg">
                    <h5>1. 若不填写选项值，则视为组件不支持该终端</h5>
                    <h5>2. 各终端请输入开始支持该组件的版本号，如猫客ios从5.10.0版本后支持stepPayV2，则填写5.10.0</h5>
                    <h5>3. 有任何问题或改进建议请联系@听浪</h5>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        详细配置
                    </div>
                    <div class="panel-body">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                基本设置
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">PC</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="pc" value="1" #if(${result.get("pc")}=='1') checked #end>不支持
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="pc" value="0" #if(${result.get("pc")}!='1') checked #end>支持
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">天猫H5</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="tmall_h5" value="1" #if(${result.get("tmall_h5")}=='1') checked #end>不支持
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="tmall_h5" value="0" #if(${result.get("tmall_h5")}!='1') checked #end>支持
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">淘宝H5</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="taobao_h5" value="1" #if(${result.get("taobao_h5")}=='1') checked #end>不支持
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="taobao_h5" value="0" #if(${result.get("taobao_h5")}!='1') checked #end>支持
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                猫客终端
                            </div>
                            <div class="panel-body">


                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">猫客IOS</label>
                                    <input type="text" id="tmall_iphone" name="tmall_iphone" class="form-control"
                                           value="$!{result.get("tmall_iphone")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">猫客安卓</label>
                                    <input type="text" id="tmall_android" name="tmall_android" class="form-control"
                                           value="$!{result.get("tmall_android")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">猫客IPAD</label>
                                    <input type="text" id="tmall_ipad" name="tmall_ipad" class="form-control"
                                           value="$!{result.get("tmall_ipad")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">猫客APAD</label>
                                    <input type="text" id="tmall_apad" name="tmall_apad" class="form-control"
                                           value="$!{result.get("tmall_apad")}"
                                           style="width: 200px"/>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                淘宝终端
                            </div>
                            <div class="panel-body">


                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">手淘IOS</label>
                                    <input type="text" id="taobao_iphone" name="taobao_iphone" class="form-control"
                                           value="$!{result.get("taobao_iphone")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">手淘安卓</label>
                                    <input type="text" id="taobao_android" name="taobao_android"
                                           class="form-control"
                                           value="$!{result.get("taobao_android")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">淘宝IPAD</label>
                                    <input type="text" id="taobao_ipad" name="taobao_ipad" class="form-control"
                                           value="$!{result.get("taobao_ipad")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">淘宝APAD</label>
                                    <input type="text" id="taobao_apad" name="taobao_apad" class="form-control"
                                           value="$!{result.get("taobao_apad")}"
                                           style="width: 200px"/>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                聚划算终端
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">聚划算IOS</label>
                                    <input type="text" id="juhuasuan_iphone" name="juhuasuan_iphone"
                                           class="form-control"
                                           value="$!{result.get("juhuasuan_iphone")}"
                                           style="width: 200px"/>
                                </div>

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">聚划算安卓</label>
                                    <input type="text" id="juhuasuan_android" name="juhuasuan_android"
                                           class="form-control"
                                           value="$!{result.get("juhuasuan_android")}"
                                           style="width: 200px"/>
                                </div>

                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <button type="submit" name="submit" class="btn btn-sm btn-primary">
                                更新组件
                            </button>
                        </div>


                    </div>
                </div>


            </form>

        </div>
    </div>


</div>