<aside class="col-md-4 sidebar">
    <!-- start widget -->
    <!-- end widget -->

    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">联系方式</h4>

        <div class="content community">
            <p>QQ：813853647</p>

            <p>邮箱：editice@gmail.com</p>

            <p><a href="https://github.com/editice/"><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;github</a> </p>
            <p><a href="http://weibo.com/2329503454/profile?topnav=1&wvr=6"><span class="glyphicon glyphicon-th-large"></span>&nbsp;微博</a></p>
            <p><a href="http://www.cnblogs.com/editice/"><span class="glyphicon glyphicon-leaf"></span>&nbsp;博客园</a> </p>

        </div>
    </div>
    <!-- end tag cloud widget -->

    <!-- start widget -->
    <div class="widget">
        <h4 class="title">个人介绍</h4>

        <div class="content community">
            <p>2014年毕业于南京大学，喜欢尝试一些新鲜事物，对于系统设计与产品规划方向有强烈的兴趣。喜欢奶酪、水果，最爱说的话就是“一定要有自己的想法”！</p>
        </div>

        <div class="content download">
            <a href="/snipper/blogs/about.htm" class="btn btn-default btn-block">关于editice的小站</a>
        </div>
    </div>
    <!-- end widget -->

    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">标签云</h4>

        <div class="content tag-cloud">
            <a href="/snipper/blogs/blogTag?blogTag=JAVA">JAVA</a>
            <a href="/snipper/blogs/blogTag?blogTag=网站">网站</a>
            <a href="/snipper/blogs/blogTag?blogTag=建模">建模</a>
            <a href="/snipper/blogs/blogTag?blogTag=多线程">多线程</a>
            <a href="/snipper/blogs/blogTag?blogTag=阿里云服务器">阿里云服务器</a>
        </div>
    </div>
</aside>
